* {
    background: #1f1f1f;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #fd4556;
}

#agents-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.agent-card {
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #4a4a4a;
}

.agent-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.agent-card p {
    margin: 10px 0 0 0;
    font-weight: bold;
}

