# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment
.env

# OS / editor
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build
dist/
build/

# Misc
docker-data/
__MACOSX/
